# Data Science Tools and Ecosystem

## Author
Jacob Concienne

In this notebook, Data Science Tools and Ecosytem are summarized.

***Objectives:***
- List popular languages
- List popular libraries
- List Data Science Tools
- Show an arithmetic expression
- Show defining variables and putting them into an expression

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include: 
1. tidyverse
2. ggplot
3. dplyr

# Data Science Tools

|Data Science Tools     |
|:-----------------------|
|Jupyter Notebook       |
|RStudio                |
|Apache Zeppelin        |

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This is a simple arithmetic expression to multiply then add integers.

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335